################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Login/.vs/Login/DesignTimeBuild
/Login/.vs/Login/v17
/Login/obj
/Login/bin/Debug/net6.0
